* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

.header {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .nav {
    .nav__list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: max(3vw, 1rem);

      a {
        text-underline-offset: 0.25em;
        color: black;
      }
    }
  }
}

.chat {
  width: 90%;
  max-width: 1768px;
  margin-inline: auto;
}

.client__id {
  max-width: fit-content;
  margin-inline-start: auto;
}

.chat__wrapper {
  @media (min-width: 35em) {
    & {
      display: flex;
      gap: 1rem;
    }
  }

  & .chat__peeps {
    flex: 0.3;
    max-width: 12.5rem;

    @media (max-width: 34.9999em) {
      display: flex;
      flex-wrap: wrap;
      gap: 0 1rem;

      h2 {
        width: 100%;
      }
    }

    h2 {
      font-weight: 600;
    }

    div {
      padding-block: 0.2em;
    }

    a {
      text-underline-offset: 0.25em;
      color: black;
    }
  }

  & .chat__group {
    flex: 1;
  }
}

.chat__list {
  li {
    padding-block: 0.5em;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

    div {
      max-width: 60ch;
      width: min(90%, fit-content);
    }

    &.right {
      flex-direction: row-reverse;

      div {
        margin-inline-start: auto;
      }
    }

    & + & {
      border-top: 1px solid rgba(0, 0, 0, 0.185);
    }

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }
}

.chat__form {
  display: flex;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 90%;
  max-width: 1768px;
  transform: translateX(-50%);

  input,
  select {
    padding: 0.25em 0.5em;
  }

  input {
    min-width: 0;
    width: 100%;
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (max-width: 35em) {
    select {
      font-size: 0.85rem;
    }
  }

  input,
  select,
  button {
    border: 0.15em solid rgb(7, 7, 7);
  }

  button {
    padding: 0.25em 1.5em;
    background-color: rgb(7, 7, 7);
    color: white;
    font-weight: 500;
  }
}
